body{
    margin: 0;
    background: linear-gradient(to right, #598d80, #b7d8d0);;
}
header{
    display: flex;
    justify-content: center;
    height: 5vh;
}
.other{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 5px;
    width: 250px;
    min-height: 30px;
    border-radius: 10px;
    border: 2px solid rgba(20, 99, 59, 0.644);
    background-color: rgba(23, 112, 67, 0.568);
    color: azure;
}
.other:active{
    border:1px;
}
a, button{
    text-decoration: none;
    color: azure;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover{
    cursor: pointer;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88vh;
}
.inp, .sel{
    display: inline-block;
    margin-right: 20px;
}
label{
    display: block;
    text-align: center;
    font-family: cursive;
}
input, select{
    width: 200px;
    min-height: 30px;
    border-radius: 10px;
    border:0;
    text-align: center;
}
button{
    width: 100px;
    min-height: 30px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(238, 83, 83);
    border: 2px solid rgb(194, 61, 61);
    color: azure;
}
button:active{
    border:1px;
}
input, select{
    font-weight: 600;
}
.output{
    margin-top: 20px;
    min-height: 50px;
    border-radius: 10px;
    background-color: azure;
    text-align: center;
    line-height: 250%;
}
.output p{
    font-weight: 600;
    font-size: 25px;
}
footer{
    display: flex;
    align-items: center;
    height: 7vh;
    background-color: rgb(83, 82, 82);
}
footer span{
    color: azure;
    margin: 0 10px;
}
.date{
    margin-left: auto;
}